<h1>Sleep Smoke Weather</h1>
<h1>The temperature in the Flatiron District is currently <%= @temp %> degrees</h1>

<% if user_signed_in? %>
	<ul>
		<% counter = 0 %>
		<% while counter < [current_user.smokes.length, current_user.sleeps.length].min %>
			<li>You smoked <%= current_user.smokes[counter].quantity %> cigarettes on <%= current_user.smokes[counter].date %>.</li>
			<li>You slept <%= current_user.sleeps[counter].hours_slept %> hours on <%= current_user.sleeps[counter].date %>.</li> 
			<br/>
			<% counter += 1 %>
		<% end %>
	</ul>

<%= link_to('Create new log', entry_path) %>
	
<% else %>

	Welcome to my app!

<% end %>